/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 @import "reset";
 @import url(http://fonts.googleapis.com/css?family=Open+Sans:100,300);
 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "layout";
 @import "product";
 @import "cart";

body {
  font-family: 'Open Sans', 'Times New Roman', serif;
  background-color: silver;
  width: 100%;
  height: 900px;
  margin: 0px;
}

img {
  padding: 5px;
  border: 1px solid gray;
  height: 35%;
  width: 60%;
}

.nav-link{
  font-size:3rem;
  float:right;
}

h1 {
  text-align: center;
}

label {
  font-weight:bold;
}
