.navbar-text{
  float:right;
  padding: 0 0 10px 100px;
}

.navbar {
  clear:right;
  font-size: 3rem;
  text-align: center;
  background-color: pink;
  width: 90%;
  margin: 0 auto;
  border: ridge;
}
