.all-product{
  overflow: hidden;
  clear:right;
	text-align: center;
  margin: 2rem 0 0 4%;
  width: 95%;
}

.single_product {
	width: 250px;
	height: 350px;
	border-radius: 5px;
	float: left;
	text-align: center;
	margin: 6px;
  border: ridge;
}

.product_show{
  font-size: 3rem;
  text-align: center;
}
